
<div class="new_question">
	
	<%=form_for @question do |f| %>
	  <%= f.label :title %>
	  <%= f.text_field :title %><br>

	  <%= f.label :content %>
	  <%= f.text_area :content %><br>
	  <%= f.label :category_id %>
	  <%=f.collection_select :category_id, @categories.order(:title), :id, :title %>

	  <%=f.submit %>




	<%end%>
</div>


