<div id="signin_form">

<h2 id="signin">Sign In</h2>

	<% if @error %>
		<div id="error_message"><%= @error %></div><br>	
	<% end %>

	<%= form_for(:session, url: sessions_path) do |f| %>

		<%= f.label :email %>
		<%= f.text_field :email %><br>

		<%= f.label :password %>
		<%= f.password_field :password %><br>

		<%= f.submit "Sign In" %>
	<% end %>

</div>
