<h2>Sign In</h2>

	<% if @error %>
		<div id="error_message"><%= @error %></div><br>	
	<% end %>

	<%= form_for(:session, url: sessions_path, :html => {:class => "loginform"}) do |f| %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.submit "Sign In" %>
	<% end %>
