<li>
  <%= comment.content %>
  <%= comment.user.username %>
  <%=comment.created_at.in_time_zone("Central Time (US & Canada)").strftime("%m/%d/%Y %I:%M%p")%>
</li>
<%if current_user%>
  <% form_id = "C#{answer.id}" %>
  <button class= 'addAnswerComment' data-form-id="<%= form_id %>">Add Comment</button>
  <%=form_for [answer, Comment.new], html: {class: "answercommentform", id: form_id} do |f|%>
    <%=f.label :content%>
    <%=f.text_area :content%>
    <%=f.submit "Post Comment"%>
    <%end%>
