
<div id="profile">

	<h1>Hello <%=current_user.username%>!</h1>
		<%= gravatar_for @user %>
		<p>Username: <%= current_user.username %></p>
		<p>Email: <%= current_user.email %></p>
		<p class="edit_button_profile"><%= link_to "Edit Profile", edit_user_path(current_user),id:"edit_profile" %></p>
		<br>


		<h2>Questions asked by <%=current_user.username%>:</h2>
		<ul>
		<%@questions.each do |question| %>
			<li><%= link_to question.title, question_path(question) %></li>
			<li><%= link_to question.content, question_path(question) %></li>
		<%end%>
		</ul>

</div>
