<h1><%=@question.title%></h1>
<p><%=@question.content%></p>
<% if @question.user_id == current_user.id %>
  <%= link_to "Edit", edit_question_path(@question)%>
<%end%>
<% @comments.each do|comment| %>
  <%=comment.content%> <strong><%=comment.user.username%></strong>
  <%=comment.created_at.in_time_zone("Central Time (US & Canada)").strftime("%m/%d/%Y %I:%M%p")%>

<%end%>


<h2>Answers</h2>
<ul>
<% @answers.each do |answer| %>
  <li><%=answer.content%> <%=answer.user.username%> <%=answer.created_at.in_time_zone("Central Time (US & Canada)").strftime("%m/%d/%Y %I:%M%p")%></li>
  <ul>
    <%answer.comments.all.each do |comment|%>
      <li><%=comment.content%> &nbps -<%=comment.user.username%></li>
    <%end%>
  </ul>
<%end%>
</ul>


<% if flash[:notice]%>
  <div class="notice"><%=flash[:notice]%></div>
<%end%>
