<!DOCTYPE html>
<html>
<head>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var map_options = {
          center: new google.maps.LatLng(41.890019, -87.637689),
          zoom: 19,
          mapTypeId: google.maps.MapTypeId.TERRAIN
        }
        var map = new google.maps.Map(map_canvas, map_options)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  <title>DBCoverflow</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
      <span class="dbcoverflow"><a id="title" href="/">DBC OverFlow</a></span>
		<nav>
				<ul>
					<li>
						<%= form_tag searches_path, :method => 'get' do %>
  					<%= text_field_tag :q, params[:q] %>
  					<%= submit_tag :search %>
						<% end %>
					</li>
					<%if current_user %>
						<li class="nav_link"><%= link_to "Add Question", new_question_path %></li>
						<li class="nav_link"><%= link_to "Profile", user_path(current_user) %></li>
						<li class="nav_link"><%= link_to "Logout", session_path(current_user), data: { confirm: "Are you sure?" }, method: "delete" %></li>
					<%else%>
						<li class="nav_link"><%= link_to "Login", new_session_path %></li>
						<li class="nav_link"><%= link_to "Create Account", new_user_path %></li>
					<%end%>
					<li class="nav_link"><%= link_to "Home", questions_path %></li>
					<li class="nav_link"><%= link_to "Browse", categories_path %></li>
				</ul>
		</nav>





	</header>

	<%= yield %>

</body>
</html>
